#root {
  width: 100vw;
  overflow: hidden;
  margin: 0;
  font-family: 'TT Norms Pro', 'Roboto', sans-serif;
}

header {
  grid-column: 1/3;
  margin: 0 149px;
  box-sizing: border-box;
}

main {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: 70px;
}

button {
  margin: 0;
  background-color: #fff;
  border: none;
  cursor: pointer;
  width: 50px;
}

.cta {
  box-sizing: border-box;
  max-width: 450px;
  min-width: 450px;
  flex: 1;
  margin: 0 auto 0 240px;
}

h3.lorem-head {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: #929a9f;
}

h1.lorem-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  text-align: left;
  color: #263640;
}

p.lorem-body {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #929a9f;
}

button.lorem-button {
  background-color: #ff9900;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  width: 161px;
  height: 48px;
  padding: 4px 25px 4px 25px;
  margin-top: 16px;
  border-radius: 48px;
}

button.lorem-button:hover {
  background-color: #de8500;
}

button.lorem-button > .chevron-icon {
  margin-left: 8px;
  opacity: 1;
}
button.lorem-button:hover > .chevron-icon {
  opacity: 0;
}

button.lorem-button > .arrow-icon {
  margin-left: -14px;
  opacity: 0;
}

button.lorem-button:hover > .arrow-icon {
  opacity: 1;
}

#carousel-container {
  min-width: 580px;
  height: 530px;
  display: grid;
  grid-template-columns: 2fr 50px;
  align-items: center;
  gap: 139px;
  margin: 0 50px 0 0;
}

#carousel {
  height: 100%;
  width: 518px;
  overflow: hidden;
}

@media (width <= 1448px) {
  .cta {
    margin: 5px;
  }
}

@media (width <= 1224px) {
  main {
    justify-content: center;
  }
  #carousel-container {
    margin-top: 25px;
  }
}

@media (width <= 680px) {
  .cta {
    max-width: 360px;
    min-width: 360px;
    margin: 10px 5px;
  }

  #carousel-container {
    margin-top: 25px;
    min-width: 380px;
    max-width: 380px;
    margin: 0 26px;
    gap: 0;
  }
  #carousel {
    width: 360px;
  }
  .item-0,
  .item-1,
  .item-2 {
    scale: 0.6;
  }
}

#carousel-controls {
  width: 50px;
  box-sizing: border-box;
}

.slide-control {
  margin: 25px 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-align: right;
  opacity: 0.3;
  transition: opacity 1s ease-out;
}

.slide-control.active {
  opacity: 1;
}

.carousel-item,
.slide-overlay {
  position: absolute;
}

.item-0,
.item-1,
.item-2 {
  will-change: transform;
  /* opacity: 0.3; */
  transition: all 1s ease;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

.item-0.active-0 {
  transform: translate3d(0px, 60px, 0px);
  z-index: 100;
  background-color: rgba(255, 255, 255, 0);
}

.item-0.active-1 {
  transform: translate3d(240px, 0px, 0px);
  z-index: 98;
}

.item-0.active-2 {
  transform: translate3d(175px, 150px, 0px);
  z-index: 99;
}

.item-1.active-0 {
  transform: translate3d(252px, 330px, 0px);
  z-index: 99;
}

.item-1.active-1 {
  transform: translate3d(0px, 166px, 0px);
  z-index: 100;
  background-color: rgba(255, 255, 255, 0);
}

.item-1.active-2 {
  transform: translate3d(294px, 0px, 0px);
  z-index: 98;
}

.item-2.active-0 {
  transform: translate3d(238px, 0px, 0px);
  z-index: 98;
}

.item-2.active-1 {
  transform: translate3d(139px, 330px, 0px);
  z-index: 99;
}

.item-2.active-2 {
  transform: translate3d(0px, 81px, 0px);
  z-index: 100;
  background-color: rgba(255, 255, 255, 0);
}

.timer {
  width: 3px;
  display: inline-block;
  height: 3px;
  border-radius: 25%;
  margin-left: 15px;
  background-color: #263640;
  vertical-align: middle;
  will-change: transform;
  transition: transform 0.5s linear, background-color 0.5s ease;
}

.active .timer {
  transform: scaleY(5);
  background-color: #ff9900;
  transition: transform 0.25s linear, background-color 0.25s ease;
}

.playing > .active .timer {
  background-color: #ff9900;
  transform: scaleY(5);
  transition: transform 4s linear, background-color 1s ease;
  will-change: transform;
}
